
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  
  img {
    max-width: 10%;
    max-height: 20%;
  }






.stile-title {
    background-color:#35495E;
    text-align: center;
    color: #41B883;
    font-size: 50px;
}
